@font-face {
    font-family: 'BOKEH';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/BOKEH/BOKEH.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BOKEH/BOKEH.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BOKEH/BOKEH.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BOKEH/BOKEH.ttf') format('truetype');
}
